@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    background: #000;
}

/* Navigation Menu */
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

.overlay-slide-left {
    transform: translateX(-100vw);
    transition: all .8s ease-in-out;
}

/* Nav Menu Items */
.nav,
.nav__list {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

.nav__list--item {
    height: 20%;
    overflow: hidden;
}

.nav__list--item:nth-of-type(1) {
    background-color: var(--navColor1);
}

.nav__list--item:nth-of-type(2) {
    background-color: var(--navColor2);
}

.nav__list--item:nth-of-type(3) {
    background-color: var(--navColor3);
}

.nav__list--item:nth-of-type(4) {
    background-color: var(--navColor4);
}

.nav__list--item:nth-of-type(5) {
    background-color: var(--navColor5);
}

.nav__list--item a {
    position: relative;
    top: 45%;
    display: block;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__list--item a::before {
    content: "";
    position: absolute;
    top: 47.5%;
    left: 0;
    height: 3px;
    width: 25vw;
    background-color: #fff;
    opacity: 0;
}

.nav__list--item a:hover::before {
    opacity: 1;
}

.nav__list--item a:hover {
    transform: scale(1.2);
}

/* Slide in Animations */
.slide-in-1 {
    animation: slide-in .4s linear .2s both;
}

.slide-in-2 {
    animation: slide-in .4s linear .4s both;
}

.slide-in-3 {
    animation: slide-in .4s linear .6s both;
}

.slide-in-4 {
    animation: slide-in .4s linear .8s both;
}

.slide-in-5 {
    animation: slide-in .4s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Slide out Animations */
.slide-out-1 {
    animation: slide-out .3s linear .5s both;
}

.slide-out-2 {
    animation: slide-out .3s linear .4s both;
}

.slide-out-3 {
    animation: slide-out .3s linear .3s both;
}

.slide-out-4 {
    animation: slide-out .3s linear .2s both;
}

.slide-out-5 {
    animation: slide-out .3s linear .1s both;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Menu Bars */
.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    height: 2px;
    width: 2.25rem;
    margin: .5rem 0;
    background-color: #fff;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

/* Sections */
section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primaryColor);
}

#home {
    background-image: url("https://images.unsplash.com/photo-1515859005217-8a1f08870f59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1110&q=80");
    background-position: center center;
    background-size: cover;
}

#home a {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
    border-bottom: 1px solid var(--primaryColor);
    padding-bottom: 5px;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--primaryColor);
}

#about {
    background-color: var(--navColor2);
}

#skills {
    background-color: var(--navColor3);
}

#projects {
    background-color: var(--navColor4);
}

#contact {
    background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
    #home a {
        top: 1rem;
        left: 1rem;
    }

    .menu-bars {
        top: 0.5rem;
        right: 1rem;
    }
}